html,
body {
    background-color: #3ca867;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    width: 500px;
    height: 500px;
}

.results {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.player,
.computer,
.summary {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

button {
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #3ca867;
    color: #FFF;
}