html,
body {
  background-color: #74a6d7;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e8eaee;
  width: 600px;
  height: 400px;
  border-radius: 5px;
}

header {
  background-color: #24498f;
  text-align: center;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#results p {
  margin: 10px;
}

#player,
#computer,
#summary {
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
}

#next-move {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24498f;
  padding: 25px 0;
  gap: 25px;
}

#next-move > p {
  font-weight: bold;
  margin: 0;
}

#buttons {
  margin: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

button {
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #0d70ae;
  border: 1px solid black;
  color: #fff;
}

button:hover {
  cursor: pointer;
}
